.middle-container .mail {
  margin-left: 7em;
}
.middle-container label {
  position: absolute;
}

.middle-container .reset {
  margin-left: 13em;
}
.middle-container label {
  position: absolute;
}

.create .create-p {
  margin-left: 10em;
}
.create .labe {
  position: absolute;
}

.edit .edit-p {
  margin-left: 10em;
}
.edit .edi {
  position: absolute;
}
